<?xml version="1.0" encoding="UTF-8"?>
 
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 
    <servlet>
        <servlet-name>WsChatServlet</servlet-name>
        <servlet-class>com.gizmoideas.games.firstgame.WsChatServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>WsChatServlet</servlet-name>
        <url-pattern>/WsChatServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WsChatServletTest</servlet-name>
        <servlet-class>com.gizmoideas.games.firstgame.WsChatServletTest</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>WsChatServletTest</servlet-name>
        <url-pattern>/WsChatServletTest</url-pattern>
    </servlet-mapping>
 
</web-app>