/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 13, 2014, 4:36:49 PM
    Author     : ipena
*/

.frameCanvasFondo{
    //width: 800px;
    //height: 400px;
    //border: 2px solid;
   // border-radius: 25px;
   // box-shadow: 10px 10px 5px #888888;
   position: absolute;
   background-color: yellow;
   margin-top: 0px;
   margin-left: 0px;
   z-index: 0;
}
.frameCanvas{
    //width: 800px;
    //height: 400px;
    //border: 2px solid;
   // border-radius: 25px;
   // box-shadow: 10px 10px 5px #888888;
   position: absolute;
   z-index: 1;
   //background-color: green;
   margin-top: 0px;
   margin-left: 0px;
}